[submodule "tutorials.CRUD-Operations"]
	path = tutorials.CRUD-Operations
	url = https://github.com/FIWARE/tutorials.CRUD-Operations
	branch = NGSI-LD
[submodule "tutorials.IoT-Agent"]
	path = tutorials.IoT-Agent
	url = https://github.com/FIWARE/tutorials.IoT-Agent
	branch = NGSI-LD
[submodule "tutorials.IoT-Sensors"]
	path = tutorials.IoT-Sensors
	url = https://github.com/FIWARE/tutorials.IoT-Sensors.git
	branch = NGSI-LD
[submodule "tutorials.Understanding-At-Context"]
	path = tutorials.Understanding-At-Context
	url = https://github.com/FIWARE/tutorials.Understanding-At-Context
	branch = NGSI-LD
[submodule "tutorials.Getting-Started"]
	path = tutorials.Getting-Started
	url = https://github.com/FIWARE/tutorials.Getting-Started
	branch = NGSI-LD
[submodule "tutorials.Entity-Relationships"]
	path = tutorials.Entity-Relationships
	url = https://github.com/FIWARE/tutorials.Entity-Relationships
	branch = NGSI-LD
[submodule "tutorials.Subscriptions"]
	path = tutorials.Subscriptions
	branch = NGSI-LD
	url = https://github.com/FIWARE/tutorials.Subscriptions
[submodule "tutorials.Time-Series-Data"]
	path = tutorials.Time-Series-Data
	branch = NGSI-LD
	url = https://github.com/FIWARE/tutorials.Time-Series-Data
[submodule "tutorials.Big-Data-Flink"]
	path = tutorials.Big-Data-Flink
	url = https://github.com/FIWARE/tutorials.Big-Data-Flink
	branch = NGSI-LD
[submodule "tutorials.Big-Data-Spark"]
	path = tutorials.Big-Data-Spark
	url = https://github.com/FIWARE/tutorials.Big-Data-Spark
	branch = NGSI-LD
