[submodule "tutorials.CRUD-Operations"]
	path = tutorials.CRUD-Operations
	url = https://github.com/FIWARE/tutorials.CRUD-Operations
	branch = NGSI-LD
[submodule "tutorials.IoT-Agent"]
	path = tutorials.IoT-Agent
	url = https://github.com/FIWARE/tutorials.IoT-Agent
	branch = NGSI-LD
[submodule "tutorials.IoT-Sensors"]
	path = tutorials.IoT-Sensors
	url = https://github.com/FIWARE/tutorials.IoT-Sensors.git
	branch = NGSI-LD
[submodule "tutorials.Understanding-At-Context"]
	path = tutorials.Understanding-At-Context
	url = https://github.com/FIWARE/tutorials.Understanding-At-Context
	branch = NGSI-LD
[submodule "tutorials.Getting-Started"]
	path = tutorials.Getting-Started
	url = https://github.com/FIWARE/tutorials.Getting-Started
	branch = NGSI-LD
[submodule "tutorials.Entity-Relationships"]
	path = tutorials.Entity-Relationships
	url = https://github.com/FIWARE/tutorials.Entity-Relationships
	branch = NGSI-LD
[submodule "tutorials.Subscriptions"]
	path = tutorials.Subscriptions
	branch = NGSI-LD
	url = https://github.com/FIWARE/tutorials.Subscriptions
[submodule "tutorials.Time-Series-Data"]
	path = tutorials.Time-Series-Data
	branch = NGSI-LD
	url = https://github.com/FIWARE/tutorials.Time-Series-Data
[submodule "tutorials.Big-Data-Flink"]
	path = tutorials.Big-Data-Flink
	url = https://github.com/FIWARE/tutorials.Big-Data-Flink
	branch = NGSI-LD
[submodule "tutorials.Big-Data-Spark"]
	path = tutorials.Big-Data-Spark
	url = https://github.com/FIWARE/tutorials.Big-Data-Spark
	branch = NGSI-LD
[submodule "tutorials.Edge-Computing"]
	path = tutorials.Edge-Computing
	url = https://github.com/FIWARE/tutorials.Edge-Computing
	branch = NGSI-LD
[submodule "tutorials.IoT-Agent-JSON"]
	path = tutorials.IoT-Agent-JSON
	url = https://github.com/FIWARE/tutorials.IoT-Agent-JSON.git
	branch = NGSI-LD
[submodule "tutorials.Short-Term-History"]
	path = tutorials.Short-Term-History
	url = https://github.com/FIWARE/tutorials.Short-Term-History
	branch = NGSI-LD
[submodule "tutorials.Identity-Management"]
	path = tutorials.Identity-Management
	url = https://github.com/FIWARE/tutorials.Identity-Management.git
	branch = NGSI-LD
[submodule "tutorials.Roles-Permissions"]
	path = tutorials.Roles-Permissions
	url = https://github.com/FIWARE/tutorials.Roles-Permissions.git
	branch = NGSI-LD
[submodule "tutorials.Concise-Format"]
	path = tutorials.Concise-Format
	url = https://github.com/FIWARE/tutorials.Concise-Format.git
[submodule "tutorials.Merge-Patch-Put"]
	path = tutorials.Merge-Patch-Put
	url = https://github.com/FIWARE/tutorials.Merge-Patch-Put
[submodule "tutorials.Extended-Properties"]
	path = tutorials.Extended-Properties
	url = https://github.com/FIWARE/tutorials.Extended-Properties
[submodule "tutorials.Linked-Data"]
	path = tutorials.Linked-Data
	url = https://github.com/FIWARE/tutorials.Linked-Data
	branch = NGSI-LD
