extends layout2

block content
  h1= title

  div(class="card m-2")
        div.card-body
          div.container
            div.row
              each item in stocks
              
                dt.col-lg-9 #{item.description}
                dd.col-lg-3 
                  code #{item.price} CFA

 

  div.row
    div.col
      div(class="card m-2")
        div.card-body
          summary.list-unstyled
            details
              pre #{JSON.stringify(stocks, null, 4)}