extends layout

include device

block content
  h1= title
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')

  - if (securityEnabled)
    p 
    | A user must be logged in to activate devices, only security staff are able to &nbsp;
    strong unlock
    | &nbsp;doors and only security and managers can &nbsp;
    strong ring
    | &nbsp;the alarm bell. 
  div.container
    div
      +devicesForFarm('001')
    div
      +devicesForFarm('002')
  div.container
    div
      +devicesForFarm('003')
    div
      +devicesForFarm('004')

  div
    hr

    h2= traffic
    ul(id="northbound")

  hr
  small
    strong
      - if (securityEnabled)
        | Security ON. &nbsp;
      - else
        | Security OFF. &nbsp;
    strong(id="audio") Audio OFF
    | . &nbsp;Icons made by 
    a(href='https://www.flaticon.com/authors/smashicons', title='Smashicons') Smashicons
    | ,
    a(href='https://www.flaticon.com/authors/those-icons' title='Those Icons') Those Icons
    |   and 
    a(href='http://www.freepik.com', title='Freepik') Freepik
    |  from 
    a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
    |  licensed by 
    a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY



  script(src='/js/device.js')
   