doctype html
html
  head
    title= title
    link(rel="shortcut icon" href='/img/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      div(style="display:block;clear:both;background-color: #e5f5f7;padding:10px;")
        div(class="main page-container")
          a(href="/")
            img(height="50px" src= "/img/fiware.svg")
          - if (session && session.username)
            div(style="float:right")
              a(href="/logout") #{session.username}
          span(id="weathericon" style="float:right; width: 2em; height: 2em;")
      div(class="main page-container" style="padding-top:10px")
        - if (ngsi == 'ngsi-ld')
          a(href="https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.03.01_60/gs_cim009v010301p.pdf")
            img(src="/img/NGSI-LD.svg")
          span &nbsp;
          a(href="https://w3c.github.io/json-ld-syntax/")
            img(src="/img/JSON-LD.svg")
    div(class="main page-container")
      block content
        - if title
          h1= title
