extends layout

block content
  h1= title

  div.row
    div.col
      div(class="card m-2")
        div.card-body
          div.container
            div.row
               - if (pest.hasStockPrice)
                dt.col-lg-3 Stocks: 
                dd.col-lg-9
                  ul
                    each item in pest.hasStockPrice
                      li
                        a(class="link-underline link-underline-opacity-0" href=`/app/soil/${item}`) #{item}
 


  div.row
    div.col
      div(class="card m-2")
        div.card-body
          summary.list-unstyled
            details
              pre #{JSON.stringify(pest, null, 4)}