extends layout

block content
  h1= title
  div(class="row p-2")
    div.col
      div( class="card p-2" )
        p Recent Requests:
        ul#messages
    div.col
      div(class="card p-2")
        p Recent Notifications:
        ul#notifications

  div(class="row p-2")
    div.col
      div(class="card p-2")
        p Last Payload:
        pre
          code#payload



  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  script.
    $(function () {
        const socket = io();
        socket.on('trust', function(msg){
            $('#payload').text(JSON.stringify(msg, null, " "));
        });
    });
